body {
	background-color: #eeeeee;
	font-size: 100%;
}

h1 {
	text-align: center;
}

.postform{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 75px;
	background-color: #eeeeee;
}

.oppostcontainer {
	background-color: #eeeeee;
}

.oppost{

}

.post{
	background-color: #dddddd;
	margin-left: 20px;
	padding-bottom: 6px;
}

.theme {
	display: inline-block;
	color: #000033;
	font-size: 1.25em;
	margin: 4px;
}

.name {
	display: inline-block;
	margin: 4px;
}

.post_time {
	display: inline-block;
	margin: 4px;
}

.post_link {
	display: inline-block;
	margin: 4px;
}