body {
	background-color: #eeeeee;
	font-size: 100%;
}

h1 {
	text-align: center;
}

.postform{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 75px;
	background-color: #eeeeee;
}

.oppostcontainer {
	background-color: #eeeeee;
	margin-bottom: 15px;
	margin-left: 7px;
}

.oppost{
	margin-bottom: 7px;
	padding-top: 3px;
	padding-bottom: 5px;
}

.post{
	background-color: #dddddd;
	margin-left: 15px;
	padding-left: 5px;
	padding-top: 3px;
	padding-bottom: 10px;
	border-color: #bbbbbb;
	border-width: 2px;
	border-style: solid;
}

.theme {
	display: inline-block;
	color: #000033;
	font-size: 1.25em;
	margin: 4px;
}

.name {
	display: inline-block;
	margin: 4px;
}

.post_time {
	display: inline-block;
	margin: 4px;
}


.post_link {
	display: inline-block;
	margin: 4px;
}
.post_link a:link{
	color: #008800;
}
.post_link a:visited{
	color: #008800;
}
.post_link a:hover{
	color: #00cc00;
}
.post_link a:active{
	color: #00cc00;
}


.answer_link {
	display: inline-block;
	margin: 4px;
}
.answer_link a:link{
	color: #0000bb;
}
.answer_link a:visited{
	color: #111166;
}
.answer_link a:hover{
	color: #2222ff;
}
.answer_link a:active{
	color: #2222ff;
}
