/* Admin features */
.boardstable {
	margin-left: 5px;
	border-collapse: collapse;
}
.boardstable th, .boardstable td {
	padding: 5px 6px;
	border-left: 1px solid;
}

/* Common */
body{
	background-color:#EEEEEE;
	color:#333333;
	font-family:"Trebuchet MS",Trebuchet,tahoma,serif;

	min-height: 100%;
	margin: 0px;
	border: 0px;
}

a{color:#FF6600;}

a:hover{color:#0066FF;}

#board,  #page, #thread{
	display: none;
}

.boardlist{
	padding: 7px;
}
.boardcategory {
	display: inline-block;
}
.boardcategory a{
	padding-left: 3px;
	padding-right: 3px;
}
.boardcategory a:link{
	text-decoration: none;
}
.boardcategory a:visited{
	text-decoration: none;
}
.boardcategory a:hover, .boardcategory a:active{
	text-decoration: none;
}

.container{
	min-height: 100%;
	width: auto;
	padding: 0px;
	border: 0px;
	margin: 0px;
}

.maintable{
	width: 100%;
	min-height: 100%;;
	border: 0px;
	margin: 0px;
	padding: 0px;
	border-spacing: 0px;
	overflow-x: hidden;
}

#header{
	height: auto;
}

#headblock{
	width: 100%;
	border: 0px;
	margin: 0px;
	padding: 0px;
}
#headblock .left{
	align: left;
}
#headblock .right{
	align: right;
	text-align: right;
}
#headblock .right .rightupmenu{
	vertical-align: top;
	display: inline-block;
	padding: 7px;
}
#headblock .right .rightupmenu span{
	position: relative;
}
#headblock .right a{
	padding-left: 3px;
	padding-right: 3px;
}
#headblock .right a:link, #headblock .right a:visited{
	text-decoration: none;
}
#headblock .right a:hover, #headblock .right a:active{
	text-decoration: none;
}
#stylemenublock{
	display: block;
	position: absolute;
	text-align: center;
	top: 1em;
	right: 2em;
	z-index: 2;
	border-style: solid;
	border-width: 2px;
	padding-top: 0.25em;
	padding-bottom: 0.75em;
}
#stylemenublock ul{
	text-align: left;
}
#stylemenublock li{
	padding-right: 2em;
	text-decoration: underline;
}

#mainpart{
	vertical-align: top;
}

.boardname {
	text-align: center;
	padding-bottom: 9px;
	padding-top: 15px; 
	width: auto;
	clear: both;
}
.boardname a:link, .boardname a:visited{
	text-decoration: none;
}
.boardname a:hover, .boardname a:active{
	text-decoration: none;
}

/* Posting form */
.postform{
	display: none;
}
.postform table{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 75px;
	clear: both;
}
.postform td{
	align: left;
}
.postform input, textarea{
	display: inline-block;
	/*background-color: #eeeeff;*/
	width: 100%;
}
#emailfield {
	width: 80%;
}
#postbutton {
	width: 20%;
	font-weight: bold;
	padding: 3px;
}
.postform #filecellmany input {
	width: 90%;
}
.postform #filecellmany button {
	width: 9%;
	float: right;
}
.postform #filecellmany span {
	display: block;
	padding: 5px;
}
.postform #passwordcell input{
	display: inline-block;
	width: 40%;
}

#threadcreate {
	display: block;
	clear: both;
	width: auto;
	text-align: center;
}
#closeform{
	display: none;
	clear: both;
	width: auto;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 10px;
	padding-right: 20px;
}

/* Post displaying */
#mainframe{
	display: block;
	clear: both;
	width: 100%;
}

.oppostcontainer {
	width: 100%;
	margin-top: 7px;
	margin-bottom: 10px;
	margin-left: 7px;
	display: block;
	float:left;
	clear: both;
}

.oppost{
	display: block;
	float:left;
	margin-bottom: 7px;
	padding-bottom: 5px;
}

.post{
	display: inline-block;
	clear: both;
	float:left;
	width: auto;	
	margin-left: 20px;
	margin-top: 4px;
	margin-bottom: 4px;
	padding-left: 5px;
	padding-right: 10px;

	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
	background-color: #dddddd;
}

.checkbox {
	display: inline-block;
	margin: 4px 0px;
}
.theme, .name,  .post_time, .post_link, .answer_link, .post_ip{
	display: inline-block;
	margin: 4px;
}

.name{
	color:#004A99;
	font-weight:bold;
}

.post_ip {
	position: relative;
}
.post_ip ul{
	padding: 7px;
	padding-left: 35px;
	/*background: #111122;*/
	border-style: solid;
	border-width: 2px;
	/*border-color: #333366;*/
	position: absolute;
	top: 5px;
	left: 5px;
	width: 250px;
	z-index: 2;
}
.post_ip ul li{
	padding: 3px;
}

.theme{
	color: #002244;
	font-size: 1.25em;
}

.post_link a{
	font-weight: bold;
}
.post_link a, .post_ip a{
	color: #333333;
}

.answer_link a {}


.imageblock, .manyimageblock{
	display: inline-block;
	float:left;
	font-size: 0.8em;
}
.imageblock a:hover, .imageblock a:active, .manyimageblock a:hover, .manyimageblock a:active{
	color: #0066ff;
}
.imageblock .image{
	display: inline-block;
	float: left;
	margin-left: 10px;
	margin-top: 2px;
	margin-bottom: 5px;
	margin-right: 0px;
}
.manyimageblock .image{
	display: inline-block;
	float: left;
	margin-left: 60px;
	margin-top: 2px;
	margin-bottom: 10px;
	margin-right: 0px;
}
.manyimageblock .image.imagenum0{
	margin-left: 20px;
}

.previewimg{
	max-height: 200px;
	max-width: 200px;
}

.post_text{
	display: inline-block;
	padding-top: 3px;
	padding-bottom: 6px;
	margin: 0.75em 2em 0.75em 2em;
}

#updbtnspan{
	margin-top: 15px;
	margin-left: 15px;
}
#delbtnspan{
	float: right;
	margin-right: 15px;
}
#delbtnspan input {
	background-color: #ffffff;
}


/*Dealing with paging*/
#pages{
	display: block;
}
#pagestable{
	margin-left: auto;
	margin-right: auto;
	width: auto;
	max-width: 100%;
}
#pagestable td{
	padding: 0.25em;
}
.pagespan{
	display: inline-block;
	margin-left: 0.125em;
	margin-right: 0.125em;
}
.pagespan a{
	padding-left: 0.125em;
	padding-right: 0.125em;
}
#threadsnumber{
	display: none;
}

/*Footers and delimeters*/
.delimeter{
	border-style:solid none none none;
	border-width:1px;
	border-color:#BBBBBB;
}

#footer{
	height: auto;
	border-spacing: 0px;
}

#credentials{
	display: block;
	text-align: center;
	font-size: 0.625em;
	padding-bottom: 0.25em;
}



/*
.adminbar{clear:both;float:right;font-size:.8em;}
.adminbar a{font-weight:bold;}img[src="/b/src/pe2shock.png"]{width:0!important;height:218px!important;padding-left:200px!important;background-image:url("http://2--ch.ru/pee2shock.png")!important;}
.logo{clear:both;text-align:left;font-size:2em;font-weight:bold;color:#FF6600;}
.thumb{border:medium none;float:left;margin:3px 20px;}
.logo2{text-align:center;}
.theader,.passvalid{background:#DDDDDD;text-align:center;padding:2px;color:#2266AA;clear:both;font-weight:bold;margin-bottom:.5em;border:solid 1px #CCCCCC;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}

.postarea{}

.rules{}

.help{cursor:help;border-bottom:1px dashed grey;padding-bottom:0.8px;}

iframe{margin:3px 20px;float:left;}

.postblock{background:transparent;color:#002244;font-weight:bold;}

.lazyadmin{color:rgb(100,100,100)}

.footer{text-align:center;font-size:12px;font-family:serif;margin:2em 0 0 0;}

.dellist{font-weight:bold;text-align:center;}

.delbuttons{text-align:center;padding-bottom:4px;}

.managehead{background:#DDDDDD;color:#002244;padding:0px;}

.postlists{background:#FFFFFF;width:100%;padding:0px;color:#800000;}

.row1{background:#DDDDDD;color:#002244;}

.row2{background:#CCCCCC;color:#002244;}

.unkfunc{background:inherit;color:#789922;}

.reflink{font-size:.9em;font-weight:bold;}

.filesize{color:#666666;font-size:0.8em;margin:0 0 0 20px;text-decoration:none;}

.filetitle{background:inherit;font-size:1.2em;color:#002244;font-weight:bold;}

.postertrip{color:#228854;}

.oldpost,.notabene{color:#CC1105;font-weight:bold;}

.omittedposts{color:#666666;}

.reply{background:#DDDDDD;border:solid 1px #CCCCCC;padding:0;margin:0;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}

blockquote{margin:.5em .5em .5em 1em;}

.reply blockquote{margin:.5em;}

.doubledash{display:none;vertical-align:top;clear:both;float:left;}

.replytitle{font-size:1.2em;color:#002244;font-weight:bold;}

.thumbnailmsg{font-size:.6em;color:#666666;}

.nothumb{background-color:#FFFFFF;border-style:dotted;margin:.3em .5em;}

.abbrev{color:#666666;}

.highlight{background:#EEDACB;color:#333333;border:2px dashed #EE6600;}

.extrafunctions{color:#008000;}

dl.menu dt{background:#DDDDDD;border:solid 1px #CCCCCC;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;margin-top:1em;padding-left:.5em;cursor:pointer;}

dl.menu dd{margin-left:.5em;padding-left:.5em;border-left:solid 1px #CCCCCC;}

dl.menu dd.hidden{display:none;}

p.spoiler>span.warning{color:#FF6600;font-weight:bolder;}

span.spoiler{background:#BBBBBB;color:#BBBBBB;}
span.spoiler a{color:#BBBBBB;}
span.spoiler a:hover{color:#0066FF;}
span.spoiler:hover{color:#333333;}

.u{text-decoration:underline;}

.s{text-decoration:line-through;}

.hide{filter:alpha(opacity=0);-moz-opacity:0;opacity:0;}

.hide:hover{filter:alpha(opacity=60);-moz-opacity:0.6;opacity:0.6;}

.o{text-decoration:overline;}
*/